/node_modules
/vendor

.env
.env.*
!.env.example
.phpactor.json
auth.json

/public/build
/public/hot
/public/storage
/public/mix-manifest.json
bootstrap/compiled.php

/.fleet
/.idea
/.vscode
/.zed
*.swp
*.swo

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep

/.phpunit.cache
.phpunit.result.cache
/coverage

npm-debug.log
yarn-error.log
*.log

composer.lock
package-lock.json

docker-compose.yml
docker-compose.*.yml
Dockerfile
rector.php
database/migrations/*.php
database/database.sqlite
