# this is for the the developement Env only
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel
        restart: unless-stopped
        volumes:
            - .:/var/www
        ports:
            - "9000:9000"
        environment:
            APP_ENV: local
            DB_CONNECTION: pgsql
            DB_HOST: postgres
            DB_PORT: 5432
            DB_DATABASE: laravel
            DB_USERNAME: laravel
            DB_PASSWORD: laravel
            XDEBUG_MODE: develop,debug
        depends_on:
            - postgres

    postgres:
        image: postgres:17
        container_name: postgres
        restart: unless-stopped
        environment:
            POSTGRES_DB: laravel
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"
        volumes:
            - pg_data:/var/lib/postgresql/data

volumes:
    pg_data:
